:root{
    --blanco: #FFFFFF;
    --marron: #CF4528;
    --secundario: #0097A7;
    --gris: #757575;
    --amarillo: #FFFF00;
    --letraTitulo: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    color:var(--marron);
    font-family: 'Krub', sans-serif;
}
.titulo span {
    font-size: 2rem;
    color:plum;
}

.contenedor{
    width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin: 0 auto 0 auto;
}

.navegacion-principal {
    background-color: var(--amarillo);
}